<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean uri="/ProjectMVC2/index.do" class="com.project.border.controller.IndexController" />
	<bean uri="/ProjectMVC2/sellBorder.do" class="com.project.border.controller.SellBorderController" />
	<bean uri="/ProjectMVC2/buyBorder.do" class="com.project.border.controller.BuyBorderController" />
	<bean uri="/ProjectMVC2/detail.do" class="com.project.border.controller.DetailController" />
	<bean uri="/ProjectMVC2/login.do" class="com.project.members.controller.LoginController" />
	<bean uri="/ProjectMVC2/loginProc.do" class="com.project.members.controller.LoginProcController" />
	<bean uri="/ProjectMVC2/logoutProc.do" class="com.project.members.controller.LogoutProcController" />
	<bean uri="/ProjectMVC2/myInfo.do" class="com.project.members.controller.MyInfoController" />
	<bean uri="/ProjectMVC2/editInfo.do" class="com.project.members.controller.EditInfoController" />
	<bean uri="/ProjectMVC2/editInfoProc.do" class="com.project.members.controller.EditInfoProcController" />
	<bean uri="/ProjectMVC2/delInfo.do" class="com.project.members.controller.DelInfoController" />
	<bean uri="/ProjectMVC2/delInfoProc.do" class="com.project.members.controller.DelInfoProcController" />
	<bean uri="/ProjectMVC2/signUp.do" class="com.project.members.controller.SignUpController" />
	<bean uri="/ProjectMVC2/signUpProc.do" class="com.project.members.controller.SignUpProcController" />
	<bean uri="/ProjectMVC2/myNotice.do" class="com.project.members.controller.MyNoticeController" />
	<bean uri="/ProjectMVC2/pickList.do" class="com.project.members.controller.PickListController" />
	<bean uri="/ProjectMVC2/pickUpProc.do" class="com.project.members.controller.PickUpProcController" />
	<bean uri="/ProjectMVC2/delPickProc.do" class="com.project.members.controller.DelPickProcController" />

</beans>